ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: #F4F4F4;
    justify-content: space-evenly;
    padding: 30px;
}
.fa-circle-user,.fa-angle-down,.fa-house-chimney
{
    padding-left: 5px;
}
p,h3
{
    margin-top: 9px;
}
img
{
    border-radius: 50%;
}
body{
    background-image: url('https://s1.best-wallpaper.net/wallpaper/m/2004/Sea-palm-leaves-plants-beach-tropical_m.jpg');
    background-size: cover;
}
*{
    margin:0;
    padding:0;
}
h5{
    border-radius: 15px;
    width: 80px;
    margin: auto;
    margin-top: 30px;
    padding: 5px;
    color: white;
}
#a
{
    background-color: #6B7C96;
}
#b
{
    background-color: #DFBB52;
}
#c,#d
{
    background-color: #C592AF;
}
.main
{
    display: flex;
    justify-content: space-around;
}
a{
    color: black;
    text-decoration: none;
    font-weight: 560;
}
.one,.two,.three,.four
{
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    width: 220px;
    background-color: white;
    border-radius: 8px;
}
